.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background: #9ddd9d;
    padding: 10px;
}

.form-row{
    margin-top: 20px;
}

.title{
    text-align: center;
    font-weight: bold;
}

.line{
    background: white;
    height: 2px;
    width: 80%;
    margin: auto;
    background: black;
}